<!DOCTYPE html>
<html ng-app = "myMap">
<body style="background-color:BLACK">
<link rel='stylesheet' href='/stylesheets/styleViewEditProfile.css' />
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<script src="/angularjs/angular.js"></script>

<link href="/stylesheets/xeditable.css" rel="stylesheet">
<script src="/angularjs/xeditable.js"></script>

<h1 style="color:grey">EDIT PROFILE</h1>
<br>

<div ng-controller="CustomerController" ng-init="init()" style="margin:50px">
	<table rules="none">
		<tr style="font-weight: bold">
			<td style="width:400px">
				<p style="color:blue">Firstname</p>
				<a href="#" editable-textarea="customer.FirstName" e-rows="2" e-cols="20">
    				<pre>{{ customer.FirstName }}</pre>
    			</a>
			</td>
			<td style="width:400px">
			</td>
			<td style="width:400px">
				<p style="color:blue">Lastname</p>
				<a href="#" editable-textarea="customer.LastName" e-rows="2" e-cols="20">
    				<pre>{{ customer.LastName }}</pre>
    			</a>
			</td>
		</tr>
		<tr style="font-weight: bold">
			<td style="width:400px">
				<p style="color:blue">Email</p>
				<a href="#" editable-textarea="customer.Email" e-rows="2" e-cols="20">
    				<pre>{{ customer.Email }}</pre>
    			</a>
			</td>
			<td style="width:400px">
			</td>
			<td style="width:400px">
				<p style="color:blue">Contact</p>
				<span style="color:red" ng-show="invalid_Phone"> Phone number entered is invalid </span>
				<a href="#" editable-textarea="customer.Contact" e-rows="2" e-cols="20">
    				<pre>{{ customer.Contact }}</pre>
    			</a>
			</td>
		</tr>
		<tr style="font-weight: bold">
			<td style="width:400px">
				<p style="color:blue">Address</p>
				<a href="#" editable-textarea="customer.Address" e-rows="2" e-cols="20">
    				<pre>{{ customer.Address }}</pre>
    			</a>
			</td>
			<td style="width:400px">
			</td>
			<td style="width:400px">
				<p style="color:grey">Credit Card Details</p>
			</td>
		</tr>
		<tr style="font-weight: bold">
			<td style="width:400px">
				<p style="color:blue">City</p>
				<a href="#" editable-textarea="customer.City" e-rows="2" e-cols="20">
    				<pre>{{ customer.City }}</pre>
    			</a>
			</td>
			<td style="width:400px">
			</td>
			<td style="width:400px">
				<p style="color:blue">CardNumber</p>
				<a href="#" editable-textarea="customer.CardNumber" e-rows="2" e-cols="20">
    				<pre>{{ customer.CardNumber }}</pre>
    			</a>
			</td>
		</tr>
		<tr style="font-weight: bold">
			<td style="width:400px">
				<p style="color:blue">State</p>
				<a href="#" editable-textarea="customer.State" e-rows="2" e-cols="20">
    				<pre>{{ customer.State }}</pre>
    			</a>
			</td>
			<td style="width:400px">
			</td>
			<td style="width:400px">
				<p style="color:blue">CardCVV</p>
				<a href="#" editable-textarea="customer.CardCVV" e-rows="2" e-cols="20">
    				<pre>{{ customer.CardCVV }}</pre>
    			</a>
			</td>
		</tr>
		<tr style="font-weight: bold">
			<td style="width:400px">
				<p style="color:blue">ZipCode</p>
				<a href="#" editable-textarea="customer.ZipCode" e-rows="2" e-cols="20">
    				<pre>{{ customer.ZipCode }}</pre>
    			</a>
			</td>
			<td style="width:400px">
			</td>
			<td style="width:400px">
			<p style="color:blue">CardExpiry</p>
				<a href="#" editable-textarea="customer.Expiry" e-rows="2" e-cols="20">
    				<pre>{{ customer.Expiry }}</pre>
    			</a>
			</td>
		</tr>
		<tr style="font-weight: bold">
			<td style="width:400px">
				<p style="color:blue">Password</p>
				<a href="#" editable-textarea="customer.Password" e-rows="2" e-cols="20">
    				<pre><input style="border:none" type="password" value="{{ customer.Password }}"/></pre>
    			</a>
			</td>
			<td style="width:400px">
			</td>
			<td style="width:400px">
			<p style="color:blue">CardZip</p>
				<a href="#" editable-textarea="customer.Zip" e-rows="2" e-cols="20">
    				<pre>{{ customer.Zip }}</pre>
    			</a>
			</td>
		</tr>
	</table>
	<div class="wrapper">
	<button type="button" class="btn btn-default btn-lg" ng-click="saveChangesToDB()">
          <span class="glyphicon glyphicon-thumbs-up"></span> Save
    </button>
	</div>
</div>
</body>
</html>
					