       
       .inputdemoBasicUsage {
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
    border: 1px solid rgba(200,200,200,.4);
    box-sizing: border-box;
    padding: 36px;
    width: 362px;
}
       
     