<html>
<head>
	<!--<link rel='stylesheet' href='/stylesheets/styleViewEditProfile.css' />
	<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/xeditable.css" rel="stylesheet">-->
	<link rel="stylesheet" href="/stylesheets/styleDriverSignin.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body background="1.jpg">
	<form action="confirmation" method="get">
		<div style="text-align:center">
			<h1 style="color:grey"> Driver Dashboard </h1><br/>
			<h2 style="color:grey"> Incoming Customer Request </h2><br/>
			<img src="customer.png" class="img-circle" alt="Customer" width=300px height=300px>
			<br/><br/><br/>
		  	<input type="submit" class="fsSubmitButton" value="&nbsp;Accept&nbsp;">&nbsp;&nbsp;
		  	<input type="button" class="fsSubmitButton" value="&nbsp;Reject&nbsp;">
	  	</div>
	</form>
</body>
</html>
